*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round';
    box-sizing: border-box;
}
h1 { font-family: "Varela Round"; font-size: 24px; 
    font-style: normal; font-variant: normal; 
    font-weight: 700; line-height: 26.4px; 
} 
h3 { font-family: "Varela Round"; font-size: 14px; font-style: normal; 
    font-variant: normal; font-weight: 700; line-height: 15.4px; 
} 
p { font-family: "Varela Round"; font-size: 14px; 
    font-style: normal; font-variant: normal; font-weight: 400; 
    line-height: 20px; 
} 
blockquote { font-family: "Varela Round"; font-size: 21px; 
    font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 30px; 
} 
pre { font-family: "Varela Round"; font-size: 13px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 18.5714px; 
}

html, body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #0a192f;
    color: #ccd6f692;
}

/*HEADER SECTION*/

.container{
    padding: 20px 10%;
}
.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
} 
nav {
    position: fixed;
    bottom: 10%;
    right: 3%;
    width: 100%;
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
nav ul li{
    display: block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #64ffda; 
    text-decoration: none;
    font-size: 15px;
    font-style: bold;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ccd6f6;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 20px;
    transition: 0.5s;
}
nav ul li a:hover {
    color: #ccd6f6;
}
nav ul li a:hover::after{
    background-color: #64ffda; 
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    color: #ccd6f6;
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    display: inline-block;
    color: #64ffda;
}
.nav ul li.social-links {
    margin-top: 50%;
}

/*ABOUT*/
#about{
    color: #ebebeb;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.about-col-1{
    flex-basis: 70%;
}
.about-col-2 img{
    width: 70%;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    background-color: #0f2546;
    margin-left: -6%;
    margin-top: 20%;
}
.about-col-2 img:hover{
    transform: translateY(-10px);
}
.about-col-2{
    flex-basis: 30%;
}
.sub-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    color: #ccd6f6;
}
.paragraph {
    margin-right: 10%;
    line-height: 180%;
    color: #ccd6f692;
    margin-top: 30px;
    font-size: 20px;
} 
.about-bold-1, .about-bold-2{
    color: #64ffda;
    font-weight: bold;
}
a:link{ 
    text-decoration: none; 
}
.about-bold-1:hover{
    color: #ccd6f6;
} 
.about-bold-2:hover{
    color: #ccd6f6;
}
.about-list{
    margin-top: 3%;
    color: #ccd6f692;
    margin-left: 5%;
}
.about-list ul li{
    line-height: 170%;
    margin-left: 25px;
    font-size: 17px;
    list-style-type: disc;
}
.about-list ul li::marker{
    color: #64ffda;
}
  

/*EXPERIENCE SECTION*/

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.experience-col-1 {
    flex-basis: 20%;
}
.experience-col-2{
    flex-basis: 68%;
    margin-top: 10%;
    margin-right: 12%;
    margin-bottom: 20px;
    margin-left: 0;
}
.tab-titles{
    margin: 40px 0 60px;
}
.tab-links{
    margin: 40px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    font-style: bold;
    cursor: pointer;
    position: relative;
    display: block;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #64ffda;
    position: absolute;
    left: 0;
    bottom: -8px;
    border-radius: 20px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 80%;
}
.tab-links:hover::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 24px;
}
.tab-contents ul li span{
    color: #64ffda;
    font-size: 20px;
}
.tab-contents ul li a{
    color: #64ffda;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.sub-title-2{
    color: #ccd6f6;
    margin-top: -3%;
}
.experience-bold{
    color: #64ffda;
}
.experience-date{
    margin-top: 2%;
    font-size: 16px;
}
.experience-list{
    margin-top: 3%;
}
.experience-list ul li{
    line-height: 170%;
    margin-left: 25px;
    font-size: 17px;
    list-style-type: disc;
}
.experience-list ul li::marker{
    color: #64ffda;
}


/*PROJECTS*/

#projects{
    padding: 30px 0;
    margin-right: 10%;
    
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.projects-list div p{
    margin-right: 40%;
    width: 100%;
    font-size: 17px;
}
.prj-icon{
    color: #64ffda;
    transform: scale(0.8);
}
.website{
    background-color: #0f2546;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.weatherapp{
    background-color: #0f2546;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
}
.mathgame{
    background-color: #0f2546;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.engproj{
    background-color: #0f2546;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.projects-list div h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.projects-list div a{
    text-decoration: underline;
    color: #ccd6f6;
    margin-top: 20px;
    display: inline-block;
    font-size: 18px 
}
.projects-list div:hover{
    transform: translateY(-10px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #ccd6f6;
    padding: 15px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 24px;
    color: #ccd6f6;
    transition: background 0.5s;
}
.btn:hover{
    background: #64ffda;
}

/*CONTACT SECTION*/
.contact-left{
    flex-basis: 25%;
}
.contact-right{
    flex-basis: 60%;
    margin-right: 11%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p i{
    color: #64ffda;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #64ffda;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0f2546;
    font-size: 20px;
}
.contact-right form{
    margin-top: 40px;
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ccd6f6;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #0f2546;
}


/* CSS for small screens */
nav .fas{
    display: none;
}


@media only screen and (max-width: 1250px){
    .row{
        display: inline-block;
    }
    .about-col-2{
        margin-top: 100px;
        margin-bottom: -500px;
    }
    .about-col-1 img{
        width: 50%;
        position: center;
    }
    .sub-title{
        font-size: 50px;
    }
    .projects-list div p{
        margin-right: 1%;
    }
    .tab-contents{
        margin-bottom: -300;
    }
    .projects-list div p{
        margin-right: 40%;
    }

}

@media only screen and (max-width: 890px){
    .header-text{
        margin-top: 100%;
        font-size: 18px;
    }
    .header-text h1{
        font-size: 29px;
    }
    .projects-list div p{
        margin-right: 10%;
    }
    .logo{
        width: 80px;
        top: -15px;
        left: 15px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        position: fixed;
        right: 30px;
        top: 12px;
    }
    nav ul{
        background: #64ffda;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100%;
        padding-top: 50px;
        z-index: 1;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
        font-size: 20px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        font-size: 30px;
    }

    .navbar{
        height: 50px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 60px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .about-col-2 p{
        font-size: 18px;
        margin-right: 10px;
    }
    .tab-links{
        font-size: 30px;
        margin-right: 15px;
    }
    .tab-links p{
        font-size: 32px;
        font-style: bold;
    }
    .tab-contents ul li{
        font-size: 16px;
    }
    .projects-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .copyright{
        font-size: 14px;
    }
    .projects-list div h2{
        font-size: 24px;
    }
    .projects-list div p{
        font-size: 18px;
    }
    .projects-list div i{
        font-size: 30px;
    }
}